body {
    font-family: fantasy;
    background-color: lightblue;
}
h1{
    font-family: cursive;
    font-size: 36pt;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28pt;
}